.productsCategories {
  width: 100%;
  padding-block: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    width: 100%;
    max-width: 90rem;
    padding-inline: 2rem;

    > div:nth-child(2) {
      display: grid;
      gap: 2rem;
      justify-content: space-between;
      padding-block: 3rem;
      grid-template-columns: repeat(3, 1fr);
    }

    > div:nth-child(3) {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
