.productsCategories {
  width: 100%;
  padding-block: 8rem;

  > div {
    width: 100%;
    padding-inline: 1.5rem;

    > div:nth-child(2) {
      margin: 0 auto;
      display: grid;
      max-width: 64rem;
      gap: 2rem;
      padding-block: 3rem;
      grid-template-columns: repeat(3, 1fr);
    }

    > div:nth-child(3) {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
