:root {
  --white: #ffffff;
  --gray: #e2e8f0;
  --primary: #0a3b66;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

$sizes: (
  16: 16,
  20: 20,
  64: 64,
);

$colors: (
  "white": var(--white),
  "gray": var(--gray),
  "primary": var(--primary),
);

@each $key, $value in $sizes {
  .w#{$key} {
    width: #{$value}px;
  }

  .h#{$key} {
    height: #{$value}px;
  }
}

@each $name, $value in $colors {
  .#{$name} {
    color: #{$value};
  }

  .#{$name}Hover:hover {
    color: #{$value};
  }

  .#{$name}Outline {
    border-color: #{$value};
  }

  .#{$name}Bg {
    background-color: #{$value};
  }

  .#{$name}BgHover:hover {
    background-color: #{$value};
  }
}
