:root {
  --white: #ffffff;
  --gray: #e2e8f0;
  --gray-dark: #d1d5dc;
  --primary: #0a3b66;
  --primary-dark: #072a4a;
  --yellow: #facc15;
  --black: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

$sizes: (
  16: 16,
  20: 20,
  32: 32,
  64: 64,
);

$colors: (
  "white": var(--white),
  "gray": var(--gray),
  "gray-dark": var(--gray-dark),
  "primary": var(--primary),
  "primary-dark": var(--primary-dark),
  "yellow": var(--yellow),
);

@each $key, $value in $sizes {
  .w#{$key} {
    width: #{$value}px;
  }

  .h#{$key} {
    height: #{$value}px;
  }
}

@each $name, $value in $colors {
  .#{$name} {
    color: #{$value};
  }

  .#{$name}Hover:hover {
    color: #{$value};
  }

  .#{$name}Outline {
    border-color: #{$value};
  }

  .#{$name}Bg {
    background-color: #{$value};
  }

  .#{$name}BgHover:hover {
    background-color: #{$value};
  }

  .#{$name}Border {
    border: 1px solid #{$value};
  }

  .#{$name}BorderHover:hover {
    border: 1px solid #{$value} !important;
  }

  .#{$name}Fill {
    fill: #{$value};
  }

  .#{$name}Stroke {
    stroke: #{$value};
  }
}

.flex-shrink-0 {
  flex-shrink: 0;
}
