@mixin desktop() {
  @media screen and (min-width: 1440px) {
    @content();
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 50;
  width: 100%;
  border-bottom: 1px solid #000;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  padding-inline: 2rem;

  @include desktop(){
    padding-inline: 0;
  }

  > div {
    display: flex;
    height: 4rem;
    width: 100%;
    max-width: 90rem;
    align-items: center;
    justify-content: space-between;

    > div:first-child {
      display: flex;
      align-items: center;
      gap: 8px;

      > a {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;

        > img {
          object-fit: contain;
        }

        > span {
          color: #0a3b66;
          font-size: 1.125rem;
          font-weight: 700;
          line-height: 1.75rem;
        }
      }
    }

    > nav {
      display: none;
      gap: 1.5rem;

      @include desktop() {
        display: flex;
      }

      > a {
        text-decoration: none;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        color: #020817;

        &:hover {
          color: #0a3b66;
          transition: color 200ms;
        }
      }
    }

    > div:nth-child(3) {
      display: none;
      align-items: center;
      gap: 1rem;
      @include desktop() {
        display: flex;
      }

      > a {
        display: flex;
      }
    }

    > div:nth-child(4) {
      display: flex;

      @include desktop(){
        display: none;
      }

      > button{
        background-color: transparent;
        border: none;
      }

      > aside{
        display: none;
      }
    }
  }
}
