@mixin desktop() {
  @media screen and (min-width: 1440px) {
    @content();
  }
}

// Tipos padrão
.p {
  width: 100%;
}

.subtitle {
  color: #6a7282;
  font-size: 1rem;
  line-height: 1.75rem;

  @include desktop() {
    font-size: 1.125rem;
  }
}

.sectionSubtitle {
  color: #e5e7eb;
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;

  @include desktop() {
    font-size: 1.25rem;
    margin-bottom: 0;
  }
}

.textPrimary {
  color: #6a7282;
}

.textSecondary {
  font-size: .875rem;
  color: #ffffff;
  
  @include desktop() {
    font-size: 1rem;
  }
}

.textTerciary {
  color: #0a3b66;
}

.textQuaternary {
  font-size: 0.875rem;
  color: #6a7282;
}

// Styles

.italic {
  font-style: italic;
}

.normal {
  font-style: normal;
}

// Weight

.thin {
  font-weight: 100;
}

.extraLight {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.normalWeigth {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semiBold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extraBold {
  font-weight: 800;
}

.black {
  font-weight: 900;
}

// Alignment

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
